.dropzone {
	margin-top: 60px;
	font-size: 20px;
	border: 3px #B0B0B0 dashed;
	border-radius: 3px;
	color: #CCC;
	padding: 50px 50px;
	text-align: center;
	transition: border-color .3s, color .3s;
	&.over {
		border-color: #7AB93C;
		color: #7AB93C;
	}
}
