

.dropzone {
	margin-top: 24px;
	margin-bottom: 56px;
	font-size: 16px;
	border: 2px #B0B0B0 dashed;
	border-radius: 3px;
	color: #CCC;
	padding: 26px 50px;
	text-align: center;
	transition: border-color .3s, color .3s;
	&.over {
		border-color: #7AB93C;
		color: #7AB93C;
	}
}

.torrents-list {
	.torrent {
		position: relative;
		background-color: #F7F7F7;
		margin-bottom: 6px;
		.progress-download {
			position: absolute;
			top: 0;
			bottom: 0;
			background-color: #E2FEA8;
		}
		.progress-conversion {
			position: absolute;
			bottom: 0;
			height: 4px;
			background-color: #0FBE2C;
		}
		.torrent-inner {
			position: relative;
			padding: 10px 14px 14px;
			.eta {
				float: right;
				display: inline;
			}
			.name {
				font-weight: 500;
				font-size: 16px;
			}
			.hash-string {
				color: #AAA;
				font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
				font-size: 10px;
			}
			.details {
				color: #AAA;
				span {
					margin-right: 4px;
				}
			}
		}
	}
}