<div class="container-download">
	<form class="download">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Enter url here" value="{{url}}">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit">Download</button>
			</span>
		</div>
	</form>
	<pre class="output hide"></pre>
</div>