<div class="container-download">
	<div class="well well-sm">
		Bookmarklet: <a class="label label-default js-bookmarklet" href="javascript:(function()%7Bwindow.open(%27{URL}/download%3Furl%3D%27%2BencodeURIComponent(window.location.href))%3B%7D)()%3B">Tube.js</a> Drag this button to your bookmarks bar to import videos directly from video sites.
	</div>
	
	<form class="download">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Enter url here" value="{{url}}">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit">Download</button>
			</span>
		</div>
	</form>
	<pre class="output hide"></pre>
</div>