<div class="torrent">
	<div class="progress-download" style="width: 47%;"></div>
	<div class="progress-conversion" style="width: 29%;"></div>
	<div class="torrent-inner">
		<div class="name">GoT</div>
		<div class="details">
			<span class="rate-download">12321 kb</span>
			<span class="rate-upload">12321 kb</span>
			<span class="upload-ratio">12321 kb</span>
			<span class="hash-string">{{hashString}}</span>
		</div>
	</div>
</div>