<div class="container-upload">
	<div class="dropzone">Drag’n’drop your torrent files here.</div>
	
	<div class="torrents-list">
		<div class="torrent">
			<div class="progress-download" style="width: 47%;"></div>
			<div class="progress-conversion" style="width: 29%;"></div>
			<div class="torrent-inner">
				<div class="name">GoT</div>
				<div class="details">
					<span class="rate-download">12321 kb</span>
					<span class="rate-upload">12321 kb</span>
					<span class="upload-ratio">12321 kb</span>
					<span class="hash-string">a01287a1724d98763bea5501f657bde60a867be0</span>
				</div>
			</div>
		</div>
	</div>
</div>